<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
	<script src="wordcount.js"></script>
</head>
<body>
<div>
	<h3> OCS WordCounter </h3>
	<p> The OCS WordCounter allows you to count the number of words that have more than a specified number of characters. The name comes from the essays assigned at Officer Candidate School, where candidates have to write an essay with an exact number of words, with only words over three letters counting towards the word count. In this tool, you can specify the minimum number of letters required to count as a word. You can see both the specialized word count as well as the total word count being updated as you type into the box.</p>
</div>

<div ng-app="wordcountApp" ng-controller="wordcountController">
	<p> Choose the minimum number of letters required for a word: 
	<input type="number" ng-model="min_letters"> </p>

	<p> Copy and paste text here: </p>
	<textarea cols="80" rows="20" ng-model="myText"></textarea>


	<p> Words over {{ min_letters }} letters: <br> {{ word_count() }} </p>

	<p> Total words: <br> {{ total_count() }} </p>

	<p> <b> Your text: </b> </p>
	<p ng-bind="myText"></p>
</div>



</body>
</html>